- name: Import NodsJS Common Role
  ansible.builtin.include_role:
    name: common
    tasks_from: java

#  echo Install MySQL
#  dnf install mysql -y &>>log_file
#  Status_Print $?
#
#  for file in schema app-user master-data; do
#
#  echo Load $file
#  mysql -h mysql-dev.azdevopsb82.online -uroot -pRoboShop@1 < /app/db/$file.sql &>>log_file
#  Status_Print $?
#  done


- name: Install MySQL Client
  ansible.builtin.dnf:
    name: mysql
    state: installed

- name: Load Schema
  community.mysql.mysql_db:
    state: import
    name: all
    target: app/db/schema.sql
    login_host: mysql-dev.azdevopsb82.online
    login_user: root
    login_password: RoboShop@1


- name: Load App User
  community.mysql.mysql_db:
    state: import
    name: all
    target: app/db/app-user.sql
    login_host: mysql-dev.azdevopsb82.online
    login_user: root
    login_password: RoboShop@1

- name: Load Master Data
  community.mysql.mysql_db:
    state: import
    name: all
    target: app/db/master-data.sql
    login_host: mysql-dev.azdevopsb82.online
    login_user: root
    login_password: RoboShop@1


